In [1]:
import pandas as pd

In [2]:
 import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [ ]:
# pip install mysql-connector-pythonA

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting mysql-connector-python
  Using cached mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Using cached mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [5]:
 import mysql.connector

In [10]:

# Database connection details
host = 'localhost'
user = 'root'
password = 'Rajvir@94'
database = 'cgda'
port = 3306 

# Establishing a connection
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

In [11]:
# Query to fetch data
query = "SELECT * FROM master_all"

# Loading data into a pandas DataFrame
df = pd.read_sql(query, con=conn)

# Closing the connection
conn.close()

# Display the DataFrame
print(df)

C:\Users\Acer\AppData\Local\Temp\ipykernel_23412\1614423000.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)

          row_id  mth      did  ddp             accepted  BUDGET  PROJCODE  \
0            353    4  1279606   28  2024-04-01 11:49:27       0  12000066
1            354    4  1279606   28  2024-04-01 11:49:27       0  12000066
2            357    4  1279606   28  2024-04-01 11:49:27       0  12000066
3            359    4  1279606   28  2024-04-01 11:49:27       0  12000066
4            361    4  1279606   28  2024-04-01 11:49:27       0  12000066
...          ...  ...      ...  ...                  ...     ...       ...
1259102  1856532    5  1391319    2  2024-05-31 20:07:44       0     PCDAO
1259103  1856875    5  1391319    2  2024-05-31 20:07:44       0     PCDAO
1259104  1856939    5  1391319    2  2024-05-31 20:07:44       0     PCDAO
1259105  1857396    5  1391319    2  2024-05-31 20:07:44       0     PCDAO
1259106  1858196    5  1391319    2  2024-05-31 20:07:44       0     PCDAO

                                    COMLIACODE CTRLID           BATCH  ...  \
0        2324/28/TULIP/R31092PAB144@20/03/2024      0   1092_010424_1  ...
1        2324/28/TULIP/R31092PAB144@20/03/2024      0   1092_010424_1  ...
2        2324/28/TULIP/R31092PAB144@20/03/2024      0   1092_010424_1  ...
3        2324/28/TULIP/R31092PAB144@20/03/2024      0   1092_010424_1  ...
4        2324/28/TULIP/R31092PAB144@20/03/2024      0   1092_010424_1  ...
...                                        ...    ...             ...  ...
1259102                    R24PSCV149@20240517      0  pm132_310524_1  ...
1259103                  R24LW09V7278@20240520      0  pm132_310524_1  ...
1259104                  R24LW08V7331@20240521      0  pm132_310524_1  ...
1259105                  R24LW13V7791@20240522      0  pm132_310524_1  ...
1259106                  R24LW13V8154@20240528      0  pm132_310524_1  ...

         subhdid  sub_head                                      sub_head_desc  \
0            105        01                    Government Contribution ( 117 )
1            198        00                                    Default ( 111 )
2              6        02            Collection including deductions ( 101 )
3             26        00  Receipts Awaiting Transfer to Other Minor Head...
4             26        00  Receipts Awaiting Transfer to Other Minor Head...
...          ...       ...                                                ...
1259102      311         A    Pay and allownaces of Service personnel ( 113 )
1259103      245         A                Pay and allowances Officers ( 101 )
1259104      245         A                Pay and allowances Officers ( 101 )
1259105      245         A                Pay and allowances Officers ( 101 )
1259106      245         A                Pay and allowances Officers ( 101 )

         dethdid  detailhd                                      detailhd_desc  \
0             46        N1       NA (DEFENCE & OTHERS) (2071 - 01 - 117 - 01)
1            390        N1  Default (DEFENCE AND OTHERS) (8670 - 00 - 111 ...
2              5        N1  - Collection including deductions (DEFENCE AND...
3            909        N1  Receipts Awaiting Transfer to Other Minor Head...
4            909        N1  Receipts Awaiting Transfer to Other Minor Head...
...          ...       ...                                                ...
1259102     1399         1                     OFFICERS (2076 - 00 - 113 - A)
1259103     1151         a  Pay and allowances Officers (2076 - 00 - 101 - A)
1259104     1151         a  Pay and allowances Officers (2076 - 00 - 101 - A)
1259105     1151         a  Pay and allowances Officers (2076 - 00 - 101 - A)
1259106     1151         a  Pay and allowances Officers (2076 - 00 - 101 - A)

          chid     ch                                            ch_desc  rc
0          637   1475  Defence Civilian of Defence Research (2071-01-...   C
1         1504   2091  Pay And Accounts Officers Electronic Advices (...   R
2            8    302  Collection including deductions: Incone Tax on...   R
3           95   1605   Govts Contribution under Tier I (DAD/DEO/CGO/BRO   R
4           94   1604  Govt Servent Contribution under Tier I (DAD/DE...   R
...        ...    ...                                                ...  ..
1259102  16102  54001                     Officers (2076 - 00 - 113 - A)   C
1259103  15613  10126                       AEC (2076 - 00 - 101 - Aa.2)   C
1259104  15604  10113                     E M E (2076 - 00 - 101 - Aa.2)   C
1259105  15604  10113                     E M E (2076 - 00 - 101 - Aa.2)   C
1259106  15604  10113                     E M E (2076 - 00 - 101 - Aa.2)   C

[1259107 rows x 62 columns]

In [12]:
import mysql.connector

In [13]:
df.head(2)

,row_id,mth,did,ddp,accepted,BUDGET,PROJCODE,COMLIACODE,CTRLID,BATCH,...,subhdid,sub_head,sub_head_desc,dethdid,detailhd,detailhd_desc,chid,ch,ch_desc,rc
0,353,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,...,105,01,Government Contribution ( 117 ),46,N1,NA (DEFENCE & OTHERS) (2071 - 01 - 117 - 01),637,1475,Defence Civilian of Defence Research (2071-01-...,C
1,354,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,...,198,00,Default ( 111 ),390,N1,Default (DEFENCE AND OTHERS) (8670 - 00 - 111 ...,1504,2091,Pay And Accounts Officers Electronic Advices (...,R