In [1]:
import pandas as pd

In [2]:
import numpy as np

# Q-Create data Frame uing dictonary and list

In [3]:
empdata={   'Emp':[44,45,46,80,90],
    'Name':['Rohan','Sohan','Mohan','Geeta','Sita'],
    'dept':['IT','Sales','account','Manfacturing','operation'] ,
    'salary':[99000,88000,77000,66000,55000]     
    }

In [4]:
df1=pd.DataFrame(empdata)

In [5]:
df1.head()

   Emp   Name          dept  salary
0   44  Rohan            IT   99000
1   45  Sohan         Sales   88000
2   46  Mohan       account   77000
3   80  Geeta  Manfacturing   66000
4   90   Sita     operation   55000

# Save this data into csv file 

    ‚úÖ Best File Format Based on Use Case:
    For data exchange ‚Üí CSV, JSON
    For Excel users ‚Üí XLSX
    For Big Data ‚Üí Parquet, Feather
    For Databases ‚Üí SQL
    For Archiving ‚Üí HDF5, Pickle

CSV

In [6]:
df1.to_csv('emp.csv', index=False)

in jason file

In [7]:
df1.to_json('data.json', orient='records')

Excel

In [8]:
df1.to_excel('empeexcel.xlsx')

In [9]:
df1.to_parquet('data.parquet')

### 5Ô∏è‚É£ Feather (Fast Binary Format)

In [10]:
df1.to_feather('empdata.feather')

Saves in a Python-specific binary format (faster but not human-readable).

In [11]:
df1.to_pickle('emp_pickle.pkl')

7Ô∏è‚É£ SQL (Store in Databases)
       1. Saves data directly in MySQL, PostgreSQL, SQLite, etc..

In [7]:
from sqlalchemy import create_engine

In [ ]:
# pip install mysqlclient

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysqlclient in c:\users\acer\appdata\roaming\python\python312\site-packages (2.2.7)
Note: you may need to restart the kernel to use updated packages.

In [14]:
# pip install pymysql

In [8]:
import pymysql
pymysql.install_as_MySQLdb()

engine = create_engine('mysql+pymysql://user:password@localhost:3306/ncs')

With the help of this way we can extract data from diffrent data basde and dump into another data base

In [9]:
from sqlalchemy import create_engine


# Use the correct MySQL driver
engine = create_engine('mysql+pymysql://root:Rajvir%4094@localhost:3306/ncs')

# Save to MySQL
df1.to_sql('emp_test', con=engine, if_exists='replace', index=False)

5

In [12]:
df2=df1

In [11]:
df2.to_sql('emp_test', con=engine, if_exists='append', index=False)

5

# Iterrator

In [13]:
for index , row in df2.iterrows():
    print(index ,":" , row)
    if index==1:
        break

0 : Emp          44
Name      Rohan
dept         IT
salary    99000
Name: 0, dtype: object
1 : Emp          45
Name      Sohan
dept      Sales
salary    88000
Name: 1, dtype: object

In [14]:

# MySQL credentials
USER = "root"
PASSWORD = "Rajvir@94"
HOST = "localhost"   # Change if MySQL is hosted remotely
PORT = "3306"
DATABASE = "cgda"

# Encode special characters in the password (@ ‚Üí %40)
PASSWORD = PASSWORD.replace("@", "%40")

# Create MySQL connection string
connection_string = f"mysql+pymysql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"

# Connect to MySQL
engine = create_engine(connection_string)

# Test connection
try:
    with engine.connect() as connection:
        print("‚úÖ Successfully connected to MySQL!")
except Exception as e:
    print(f"‚ùå Connection failed: {e}")

‚úÖ Successfully connected to MySQL!

In [11]:
import pandas as pd

# Read data from MySQL table into a Pandas DataFrame
df = pd.read_sql("SELECT * FROM master_all", con=engine)

# Display the data
trans_maindf=df

In [15]:
new_df=trans_maindf.head(2)

In [16]:
new_df

,row_id,mth,did,ddp,accepted,BUDGET,PROJCODE,COMLIACODE,CTRLID,BATCH,...,subhdid,sub_head,sub_head_desc,dethdid,detailhd,detailhd_desc,chid,ch,ch_desc,rc
0,353,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,...,105,01,Government Contribution ( 117 ),46,N1,NA (DEFENCE & OTHERS) (2071 - 01 - 117 - 01),637,1475,Defence Civilian of Defence Research (2071-01-...,C
1,354,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,...,198,00,Default ( 111 ),390,N1,Default (DEFENCE AND OTHERS) (8670 - 00 - 111 ...,1504,2091,Pay And Accounts Officers Electronic Advices (...,R

In [17]:
ser=pd.Series(new_df["detailhd_desc"])
df=ser.head(10)

In [18]:
df

0         NA (DEFENCE & OTHERS) (2071 - 01 - 117 - 01)
1    Default (DEFENCE AND OTHERS) (8670 - 00 - 111 ...
Name: detailhd_desc, dtype: object

In [23]:
print(new_df.to_string())

   row_id  mth      did  ddp             accepted  BUDGET  PROJCODE                             COMLIACODE CTRLID          BATCH  MONTH  CDA  SECTION  VRCLASS  VRNO RC1  CAT1  CODEHEAD SIGN        AMT      RESCDA RESCDASEC       UNITIDIMP        DATE  fortnight  mon  year BACKUPFLG userid         timemodifed impid                   billno    billdate  amt_claimed firm_name                 caorsono caorsodate    ncsTransactionId ncsOldTransactionId  pfms_transaction pfms_sanctionId  flag remarks  majhd  grantno1                             majhd_desc  submajhdid  submajhd      submajhd_desc  minhdid  minorhd                                                    minorhd_desc  subhdid sub_head                    sub_head_desc  dethdid detailhd                                        detailhd_desc  chid    ch                                                              ch_desc rc
0     353    4  1279606   28  2024-04-01 11:49:27       0  12000066  2324/28/TULIP/R31092PAB144@20/03/2024      0  1092_010424_1      4   28   281201        1  1001   C     0      1475    +    90509.0  9910000100         0  49928012000066  2024-03-26      198.0  NaN   NaN      None    198 2024-04-01 11:43:30  None  R31092PAB144-01/2024-25  2024-03-12    2581801.0        NA  R31092PAB144-01/2024-25          0  281201104240100102                   0               0.0               0     1    None   2071        22  PENSION AND OTHER RETIREMENT BENEFITS          35         1              Civil      100      117  GOVERNMENT CONTRIBUTION TO DEFINED CONTRIBUTION PENSION SCHEME      105       01  Government Contribution ( 117 )       46       N1         NA (DEFENCE & OTHERS) (2071 - 01 - 117 - 01)   637  1475          Defence Civilian of Defence Research (2071-01-117-01-00-04)  C
1     354    4  1279606   28  2024-04-01 11:49:27       0  12000066  2324/28/TULIP/R31092PAB144@20/03/2024      0  1092_010424_1      4   28   281201        1  1001   R    93      2091    +  1679202.0  9910000100         0  49928012000066  2024-03-26      198.0  NaN   NaN      None    198 2024-04-01 11:43:30  None  R31092PAB144-01/2024-25  2024-03-12    2581801.0        NA  R31092PAB144-01/2024-25          0  281201104240100103                   0               0.0               0     1    None   8670       800                      CHEQUES AND BILLS         109         0  Cheques and Bills      288      111                       PAY & ACCOUNTS OFFICES ELECTRONIC ADVICES      198       00                  Default ( 111 )      390       N1  Default (DEFENCE AND OTHERS) (8670 - 00 - 111 - 00)  1504  2091  Pay And Accounts Officers Electronic Advices (8670 - 00 - 111 - 00)  R

In [ ]:
new_df.isnull().sum()

row_id           0
mth              0
did              0
ddp              0
accepted         0
                ..
detailhd_desc    0
chid             0
ch               0
ch_desc          0
rc               0
Length: 62, dtype: int64

In [19]:
for x in new_df.index:
    did_count = new_df["did"].value_counts().get(new_df.loc[x, "did"], 0)  # Count occurrences of the "did" value
    if did_count > new_df["did"].count():  # This condition might not be logical; adjust as needed
        print("Did is grater ")
    else :
        print("Did is not grater ")
        
        # df.loc[x, "Duration"] = 120

Did is not grater
Did is not grater

In [21]:
# df["Check"] = df["UNITIDIMP"].map(lambda x: "#" if df["UNITIDIMP"].value_counts()[x] > 25 else "")

##.Ilod and loc Example

In [22]:
import pandas as pd

# Sample Employee Data
data = {
    'Emp_ID': [101, 102, 103, 104, 105],
    'Name': ['Amit', 'Neha', 'Raj', 'Simran', 'Vikram'],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Salary': [70000, 50000, 60000, 75000, 55000],
    'Experience': [5, 3, 6, 7, 4]
}

In [23]:
df=pd.DataFrame(data)

In [24]:
df

   Emp_ID    Name Department  Salary  Experience
0     101    Amit         IT   70000           5
1     102    Neha         HR   50000           3
2     103     Raj    Finance   60000           6
3     104  Simran         IT   75000           7
4     105  Vikram         HR   55000           4

Find the data of empl whic emp id =103

In [25]:
emp_103=df.loc[df['Emp_ID']==103].sum()

In [26]:
print(emp_103)

Emp_ID            103
Name              Raj
Department    Finance
Salary          60000
Experience          6
dtype: object

Find th data of empn who is in IT

In [27]:
It_Emp=df.loc[df['Department']=="IT"]
It_Emp

   Emp_ID    Name Department  Salary  Experience
0     101    Amit         IT   70000           5
3     104  Simran         IT   75000           7

Find salray of Raj

In [28]:
Raj_emp=df.loc[df['Name']=="Raj" ,'Salary']
print(Raj_emp)

2    60000
Name: Salary, dtype: int64

In [29]:
Raj_emp.values[0]

60000

In [30]:
dept_wise_salary=df.groupby('Department')['Salary'].sum()

In [31]:
dept_wise_salary

Department
Finance     60000
HR         105000
IT         145000
Name: Salary, dtype: int64

In [32]:
dept_wise_salary.to_excel('dept_wise_salary.xlsx')

üîπ Agar sirf IT department ki salary chahiye

In [33]:
df

   Emp_ID    Name Department  Salary  Experience
0     101    Amit         IT   70000           5
1     102    Neha         HR   50000           3
2     103     Raj    Finance   60000           6
3     104  Simran         IT   75000           7
4     105  Vikram         HR   55000           4

In [34]:
df.groupby("Department")['Salary'].sum().loc['IT']

145000

In [56]:
df[["Department",'Salary']]

  Department  Salary
0         IT   70000
1         HR   50000
2    Finance   60000
3         IT   75000
4         HR   55000

In [38]:
data1 = {
    'Emp_ID': [101, 102, 103, 104, 105, 106],
    'Name': ['Amit', 'Neha', 'Raj', 'Simran', 'Vikram', 'Pooja'],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR', 'IT'],
    'Experience': [5, 3, 6, 7, 3, 5],
    'Salary': [70000, 50000, 60000, 75000, 55000, 80000]
}

In [39]:
emp_data=pd.DataFrame(data1)

In [40]:
emp_data

   Emp_ID    Name Department  Experience  Salary
0     101    Amit         IT           5   70000
1     102    Neha         HR           3   50000
2     103     Raj    Finance           6   60000
3     104  Simran         IT           7   75000
4     105  Vikram         HR           3   55000
5     106   Pooja         IT           5   80000

# Group by Department & Experience and sum Salary

In [41]:
emp_data.groupby(['Department','Experience'])['Salary'].sum().reset_index()

  Department  Experience  Salary
0    Finance           6   60000
1         HR           3  105000
2         IT           5  150000
3         IT           7   75000

üîπ Sirf IT Department ka Salary Sum nikalna

In [42]:
emp_data.groupby(['Department','Experience'])['Salary'].sum().loc['IT']

Experience
5    150000
7     75000
Name: Salary, dtype: int64

In [43]:
import pandas as pd

# Correct way to display all columns
pd.set_option('display.max_columns', None)

In [44]:
trans_maindf.head(2)

,row_id,mth,did,ddp,accepted,BUDGET,PROJCODE,COMLIACODE,CTRLID,BATCH,MONTH,CDA,SECTION,VRCLASS,VRNO,RC1,CAT1,CODEHEAD,SIGN,AMT,RESCDA,RESCDASEC,UNITIDIMP,DATE,fortnight,mon,year,BACKUPFLG,userid,timemodifed,impid,billno,billdate,amt_claimed,firm_name,caorsono,caorsodate,ncsTransactionId,ncsOldTransactionId,pfms_transaction,pfms_sanctionId,flag,remarks,majhd,grantno1,majhd_desc,submajhdid,submajhd,submajhd_desc,minhdid,minorhd,minorhd_desc,subhdid,sub_head,sub_head_desc,dethdid,detailhd,detailhd_desc,chid,ch,ch_desc,rc
0,353,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,C,0,1475,+,90509.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100102,0,0.0,0,1,None,2071,22,PENSION AND OTHER RETIREMENT BENEFITS,35,1,Civil,100,117,GOVERNMENT CONTRIBUTION TO DEFINED CONTRIBUTIO...,105,01,Government Contribution ( 117 ),46,N1,NA (DEFENCE & OTHERS) (2071 - 01 - 117 - 01),637,1475,Defence Civilian of Defence Research (2071-01-...,C
1,354,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,93,2091,+,1679202.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100103,0,0.0,0,1,None,8670,800,CHEQUES AND BILLS,109,0,Cheques and Bills,288,111,PAY & ACCOUNTS OFFICES ELECTRONIC ADVICES,198,00,Default ( 111 ),390,N1,Default (DEFENCE AND OTHERS) (8670 - 00 - 111 ...,1504,2091,Pay And Accounts Officers Electronic Advices (...,R

In [46]:
trans_maindf['discount_sales']=trans_maindf['AMT'].apply(lambda x:x*0.9)

In [48]:
trans_maindf.head(2)

,row_id,mth,did,ddp,accepted,BUDGET,PROJCODE,COMLIACODE,CTRLID,BATCH,MONTH,CDA,SECTION,VRCLASS,VRNO,RC1,CAT1,CODEHEAD,SIGN,AMT,RESCDA,RESCDASEC,UNITIDIMP,DATE,fortnight,mon,year,BACKUPFLG,userid,timemodifed,impid,billno,billdate,amt_claimed,firm_name,caorsono,caorsodate,ncsTransactionId,ncsOldTransactionId,pfms_transaction,pfms_sanctionId,flag,remarks,majhd,grantno1,majhd_desc,submajhdid,submajhd,submajhd_desc,minhdid,minorhd,minorhd_desc,subhdid,sub_head,sub_head_desc,dethdid,detailhd,detailhd_desc,chid,ch,ch_desc,rc,discount_sales
0,353,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,C,0,1475,+,90509.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100102,0,0.0,0,1,None,2071,22,PENSION AND OTHER RETIREMENT BENEFITS,35,1,Civil,100,117,GOVERNMENT CONTRIBUTION TO DEFINED CONTRIBUTIO...,105,01,Government Contribution ( 117 ),46,N1,NA (DEFENCE & OTHERS) (2071 - 01 - 117 - 01),637,1475,Defence Civilian of Defence Research (2071-01-...,C,81458.1
1,354,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,93,2091,+,1679202.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100103,0,0.0,0,1,None,8670,800,CHEQUES AND BILLS,109,0,Cheques and Bills,288,111,PAY & ACCOUNTS OFFICES ELECTRONIC ADVICES,198,00,Default ( 111 ),390,N1,Default (DEFENCE AND OTHERS) (8670 - 00 - 111 ...,1504,2091,Pay And Accounts Officers Electronic Advices (...,R,1511281.8

In [49]:
trans_maindf['cuumsum']=trans_maindf['AMT'].cumsum()

In [51]:
trans_maindf.head()

,row_id,mth,did,ddp,accepted,BUDGET,PROJCODE,COMLIACODE,CTRLID,BATCH,MONTH,CDA,SECTION,VRCLASS,VRNO,RC1,CAT1,CODEHEAD,SIGN,AMT,RESCDA,RESCDASEC,UNITIDIMP,DATE,fortnight,mon,year,BACKUPFLG,userid,timemodifed,impid,billno,billdate,amt_claimed,firm_name,caorsono,caorsodate,ncsTransactionId,ncsOldTransactionId,pfms_transaction,pfms_sanctionId,flag,remarks,majhd,grantno1,majhd_desc,submajhdid,submajhd,submajhd_desc,minhdid,minorhd,minorhd_desc,subhdid,sub_head,sub_head_desc,dethdid,detailhd,detailhd_desc,chid,ch,ch_desc,rc,discount_sales,cuumsum
0,353,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,C,0,1475,+,90509.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100102,0,0.0,0,1,None,2071,22,PENSION AND OTHER RETIREMENT BENEFITS,35,1,Civil,100,117,GOVERNMENT CONTRIBUTION TO DEFINED CONTRIBUTIO...,105,01,Government Contribution ( 117 ),46,N1,NA (DEFENCE & OTHERS) (2071 - 01 - 117 - 01),637,1475,Defence Civilian of Defence Research (2071-01-...,C,81458.1,90509.0
1,354,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,93,2091,+,1679202.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100103,0,0.0,0,1,None,8670,800,CHEQUES AND BILLS,109,0,Cheques and Bills,288,111,PAY & ACCOUNTS OFFICES ELECTRONIC ADVICES,198,00,Default ( 111 ),390,N1,Default (DEFENCE AND OTHERS) (8670 - 00 - 111 ...,1504,2091,Pay And Accounts Officers Electronic Advices (...,R,1511281.8,1769711.0
2,357,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,0,302,+,492500.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100106,0,0.0,0,1,None,21,900,TAXES ON INCOME OTHER THAN CORPORATION TAX,2,0,Taxes on income other than Corporation Tax,6,101,INCOME TAX ON UNION EMOLUMENTS INCLUDING PENSIONS,6,02,Collection including deductions ( 101 ),5,N1,- Collection including deductions (DEFENCE AND...,8,302,Collection including deductions: Incone Tax on...,R,443250.0,2262211.0
3,359,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,0,1605,+,90509.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100108,0,0.0,0,1,None,71,900,CONTRIBUTIONS AND RECOVERIES TOWARDS PENSION A...,12,1,Civil,27,500,RECEIPTS AWAITING TRANSFER TO OTHER MINOR HEADS,26,00,Receipts Awaiting Transfer to Other Minor Head...,909,N1,Receipts Awaiting Transfer to Other Minor Head...,95,1605,Govts Contribution under Tier I (DAD/DEO/CGO/BRO,R,81458.1,2352720.0
4,361,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,0,1604,+,64650.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100110,0,0.0,0,1,None,71,900,CONTRIBUTIONS AND RECOVERIES TOWARDS PENSION A...,12,1,Civil,27,500,RECEIPTS AWAITING TRANSFER TO OTHER MINOR HEADS,26,00,Receipts Awaiting Transfer to Other Minor Head...,909,N1,Receipts Awaiting Transfer to Other Minor Head...,94,1604,Govt Servent Contribution under Tier I (DAD/DE...,R,58185.0,2417370.0

In [52]:
df=trans_maindf

In [53]:
df['Month']=df['timemodifed'].dt.month

In [55]:
df['Month_Name']=df['timemodifed'].dt.month_name

In [56]:
df['Year']=df['timemodifed'].dt.year

In [57]:
df

,row_id,mth,did,ddp,accepted,BUDGET,PROJCODE,COMLIACODE,CTRLID,BATCH,MONTH,CDA,SECTION,VRCLASS,VRNO,RC1,CAT1,CODEHEAD,SIGN,AMT,RESCDA,RESCDASEC,UNITIDIMP,DATE,fortnight,mon,year,BACKUPFLG,userid,timemodifed,impid,billno,billdate,amt_claimed,firm_name,caorsono,caorsodate,ncsTransactionId,ncsOldTransactionId,pfms_transaction,pfms_sanctionId,flag,remarks,majhd,grantno1,majhd_desc,submajhdid,submajhd,submajhd_desc,minhdid,minorhd,minorhd_desc,subhdid,sub_head,sub_head_desc,dethdid,detailhd,detailhd_desc,chid,ch,ch_desc,rc,discount_sales,cuumsum,Month,Month_Name,Year
0,353,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,C,0,1475,+,90509.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100102,0,0.0,0,1,None,2071,22,PENSION AND OTHER RETIREMENT BENEFITS,35,1,Civil,100,117,GOVERNMENT CONTRIBUTION TO DEFINED CONTRIBUTIO...,105,01,Government Contribution ( 117 ),46,N1,NA (DEFENCE & OTHERS) (2071 - 01 - 117 - 01),637,1475,Defence Civilian of Defence Research (2071-01-...,C,81458.1,9.050900e+04,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
1,354,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,93,2091,+,1679202.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100103,0,0.0,0,1,None,8670,800,CHEQUES AND BILLS,109,0,Cheques and Bills,288,111,PAY & ACCOUNTS OFFICES ELECTRONIC ADVICES,198,00,Default ( 111 ),390,N1,Default (DEFENCE AND OTHERS) (8670 - 00 - 111 ...,1504,2091,Pay And Accounts Officers Electronic Advices (...,R,1511281.8,1.769711e+06,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
2,357,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,0,302,+,492500.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100106,0,0.0,0,1,None,21,900,TAXES ON INCOME OTHER THAN CORPORATION TAX,2,0,Taxes on income other than Corporation Tax,6,101,INCOME TAX ON UNION EMOLUMENTS INCLUDING PENSIONS,6,02,Collection including deductions ( 101 ),5,N1,- Collection including deductions (DEFENCE AND...,8,302,Collection including deductions: Incone Tax on...,R,443250.0,2.262211e+06,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
3,359,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,0,1605,+,90509.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100108,0,0.0,0,1,None,71,900,CONTRIBUTIONS AND RECOVERIES TOWARDS PENSION A...,12,1,Civil,27,500,RECEIPTS AWAITING TRANSFER TO OTHER MINOR HEADS,26,00,Receipts Awaiting Transfer to Other Minor Head...,909,N1,Receipts Awaiting Transfer to Other Minor Head...,95,1605,Govts Contribution under Tier I (DAD/DEO/CGO/BRO,R,81458.1,2.352720e+06,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
4,361,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,0,1604,+,64650.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100110,0,0.0,0,1,None,71,900,CONTRIBUTIONS AND RECOVERIES TOWARDS PENSION A...,12,1,Civil,27,500,RECEIPTS AWAITING TRANSFER TO OTHER MINOR HEADS,26,00,Receipts Awaiting Transfer to Other Minor Head...,909,N1,Receipts Awaiting Transfer to Other Minor Head...,94,1604,Govt Servent Contribution under Tier I (DAD/DE...,R,58185.0,2.417370e+06,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259102,1856532,5,1391319,2,2024-05-31 20:07:44,0,PCDAO,R24PSCV149@20240517,0,pm132_310524_1,5,2,22400,1,1851,C,1,54001,+,1066759.0,0,0,7200200000CDA2,17-05-2024,195.0,5.0,2024.0,,edppm,2024-05-31 20:07:52,None,"""R24PSCV149""",,0.0,17-05-2024,,2024-05-31 20:07:24,0,0,0.0,0,1,None,2076,20,DEFENCE SERVICES-ARMY,38,0,Defence Services - Army,119,113,NATIONAL CADET CORPS,311,A,Pay and allownaces of Service personnel ( 113 ),1399,1,OFFICERS (2076 - 00 - 113 - A),16102,54001,Officers (2076 - 00 - 113 - A),C,960083.1,2.611915e+12,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
1259103,1856875,5,1391319,2,2024-05-31 20:07:44,0,PCDAO,R24LW09V7278@20240520,0,pm132_310524_1,5,2,22400,1,2034,C,1,10126,+,1243267.0,0,0,7200200000CDA2,20-05-2024,195.0,5.0,2024.0,,edppm,2024-05-31 20:07:53,None,"""R24LW09V7278""",,0.0,20-05-2024,,2024-05-31 20:07:25,0,0,0.0,0,1,None,2076,20,DEFENCE SERVICES-ARMY,38,0,Defence Services - Army,110,101,ARMY (INCLUDING RESERVISTS),245,A,Pay and allowances Officers ( 101 ),1151,a,Pay and allowances Officers (2076 - 00 - 101 - A),15613,10126,AEC (2076 - 00 - 101 - Aa.2),C,1118940.3,2.611916e+12,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
1259104,1856939,5,1391319,2,2024-05-31 20:07:44,0,PCDAO,R24LW08V7331@20240521,0,pm132_310524_1,5,2,22400,1,2320,C,1,10113,+,163663.0,0,0,7200200000CDA2,21-05-2024,195.0,5.0,2024.0,,edppm,2024-05-31 20:07:53,None,"""R24LW08V7331""",,0.0,21-05-2024,,2024-05-31 20:07:25,0,0,0.0,0,1,None,2076,20,DEFENCE SERVICES-ARMY,38,0,Defence Services - Army,110,101,ARMY (INCLUDING RESERVISTS),245,A,Pay and allowances Officers ( 101 ),1151,a,Pay and allowances Officers (2076 - 00 - 101 - A),15604,10113,E M E (2076 - 00 - 101 - Aa.2),C,147296.7,2.611916e+12,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
1259105,1857396,5,1391319,2,2024-05-31 20:07:44,0,PCDAO,R24LW13V7791@20240522,0,pm132_310524_1,5,2,22400,1,2311,C,1,10113,+,123974.0,0,0,7200200000CDA2,22-05-2024,195.0,5.0,2024.0,,edppm,2024-05-31 20:07:54,None,"""R24LW13V7791""",,0.0,22-05-2024,,2024-05-31 20:07:26,0,0,0.0,0,1,None,2076,20,DEFENCE SERVICES-ARMY,38,0,Defence Services - Army,110,101,ARMY (INCLUDING RESERVISTS),245,A,Pay and allowances Officers ( 101 ),1151,a,Pay and allowances Officers (2076 - 00 - 101 - A),15604,10113,E M E (2076 - 00 - 101 - Aa.2),C,111576.6,2.611916e+12,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
1259106,1858196,5,1391319,2,2024-05-31 20:07:44,0,PCDAO,R24LW13V8154@20240528,0,pm132_310524_1,5,2,22400,1,2792,C,1,10113,+,45773.0,0,0,7200200000CDA2,28-05-2024,195.0,5.0,2024.0,,edppm,2024-05-31 20:07:56,None,"""R24LW13V8154""",,0.0,28-05-2024,,2024-05-31 20:07:28,0,0,0.0,0,1,None,2076,20,DEFENCE SERVICES-ARMY,38,0,Defence Services - Army,110,101,ARMY (INCLUDING RESERVISTS),245,A,Pay and allowances Officers ( 101 ),1151,a,Pay and allowances Officers (2076 - 00 - 101 - A),15604,10113,E M E (2076 - 00 - 101 - Aa.2),C,41195.7,2.611916e+12,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024

In [ ]:
# date_1=df[['Month','Month_Name','Year']]

19. Finding Top 5 Products by Revenue per Region
Example (Real-world: Top 5 Products for Each Region):

In [61]:
top_products =df.groupby('majhd_desc').apply(lambda x:x.nlargest(5,'AMT'))

C:\Users\Acer\AppData\Local\Temp\ipykernel_26572\2744786816.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_products =df.groupby('majhd_desc').apply(lambda x:x.nlargest(5,'AMT'))

In [62]:
top_products

                                                             row_id  mth  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069   135643    4
                                                   1235070   135975    4
                                                   1235074   153971    4
                                                   1235350  1602346    5
                                                   1235096   496416    4
...                                                             ...  ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492   1038952    5
                                                   646477    905564    5
                                                   646448    858262    5
                                                   646728   1649075    5
                                                   646452    865544    5

                                                                did  ddp  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069  1303954    1
                                                   1235070  1303958    1
                                                   1235074  1305991   20
                                                   1235350  1384848   20
                                                   1235096  1325381   20
...                                                             ...  ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492   1353924   23
                                                   646477   1346655   23
                                                   646448   1344433   23
                                                   646728   1386483   23
                                                   646452   1344603   23

                                                                       accepted  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069  2024-04-12 17:42:01
                                                   1235070  2024-04-12 17:45:52
                                                   1235074  2024-04-15 13:45:13
                                                   1235350  2024-05-29 14:53:48
                                                   1235096  2024-04-26 15:09:11
...                                                                         ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492   2024-05-10 17:36:03
                                                   646477   2024-05-07 17:03:03
                                                   646448   2024-05-06 16:04:59
                                                   646728   2024-05-30 12:10:26
                                                   646452   2024-05-06 17:09:09

                                                            BUDGET PROJCODE  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069       0        0
                                                   1235070       0        0
                                                   1235074       0        0
                                                   1235350       0        0
                                                   1235096       0        0
...                                                            ...      ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492        0        0
                                                   646477        0        0
                                                   646448        0        0
                                                   646728        0        0
                                                   646452        0        0

                                                                                                   COMLIACODE  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069                                                  0
                                                   1235070                                                  0
                                                   1235074                                                  0
                                                   1235350                                                  0
                                                   1235096                                                  0
...                                                                                                       ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492    2425/23/SBI-FAST-L/232102/05/50@10/05/2024042545
                                                   646477    2425/23/SBI-FAST-L/232102/05/35@07/05/2024013828
                                                   646448    2425/23/SBI-FAST-L/232102/05/26@06/05/2024033656
                                                   646728   2425/23/SBI-FAST-L/232102/05/119@29/05/2024024417
                                                   646452    2425/23/SBI-FAST-L/232102/05/30@06/05/2024042318

                                                                     CTRLID  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069  201000200011123
                                                   1235070  201000200011223
                                                   1235074                0
                                                   1235350                0
                                                   1235096                0
...                                                                     ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492                 0
                                                   646477                 0
                                                   646448                 0
                                                   646728                 0
                                                   646452                 0

                                                           BATCH  MONTH  CDA  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069     0      4    1
                                                   1235070     0      4    1
                                                   1235074     0      4   20
                                                   1235350     0      5   20
                                                   1235096     0      4   20
...                                                          ...    ...  ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492     87      5   23
                                                   646477     80      5   23
                                                   646448     72      5   23
                                                   646728    130      5   23
                                                   646452     76      5   23

                                                            SECTION  VRCLASS  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069    10600        8
                                                   1235070    10600        8
                                                   1235074   204151        1
                                                   1235350   204151        2
                                                   1235096   204151        1
...                                                             ...      ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492    232102        1
                                                   646477    232102        1
                                                   646448    232102        1
                                                   646728    232102        1
                                                   646452    232102        1

                                                            VRNO RC1  CAT1  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069     1   C     0
                                                   1235070     2   C     0
                                                   1235074     2   C     0
                                                   1235350     8   C     0
                                                   1235096     3   C     0
...                                                          ...  ..   ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492     87   C    59
                                                   646477     80   C    60
                                                   646448     72   C    61
                                                   646728    130   C    61
                                                   646452     76   C    59

                                                            CODEHEAD SIGN  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069      2101    +
                                                   1235070      2101    +
                                                   1235074      2101    +
                                                   1235350      2101    +
                                                   1235096      2101    +
...                                                              ...  ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492       5009    +
                                                   646477       5009    +
                                                   646448       5009    +
                                                   646728       5009    +
                                                   646452       5009    +

                                                                   AMT RESCDA  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069     51120.0      0
                                                   1235070     32040.0      0
                                                   1235074     28440.0      0
                                                   1235350     28440.0      0
                                                   1235096     27000.0      0
...                                                                ...    ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492   20698602.0      0
                                                   646477    8559911.0      0
                                                   646448    6999541.0      0
                                                   646728    6092270.0      0
                                                   646452    4908706.0      0

                                                           RESCDASEC  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069         0
                                                   1235070         0
                                                   1235074         0
                                                   1235350         0
                                                   1235096         0
...                                                              ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492          0
                                                   646477          0
                                                   646448          0
                                                   646728          0
                                                   646452          0

                                                                 UNITIDIMP  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069               0
                                                   1235070               0
                                                   1235074               0
                                                   1235350               0
                                                   1235096               0
...                                                                    ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492   19923000002102
                                                   646477   19923000002102
                                                   646448   19923000002102
                                                   646728   19923000002102
                                                   646452   19923000002102

                                                                  DATE  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069  2024-04-12
                                                   1235070  2024-04-12
                                                   1235074  05/04/2024
                                                   1235350  29/05/2024
                                                   1235096  26/04/2024
...                                                                ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492   2024-05-10
                                                   646477   2024-05-07
                                                   646448   2024-05-06
                                                   646728   2024-05-29
                                                   646452   2024-05-06

                                                            fortnight  mon  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069        0.0  4.0
                                                   1235070        0.0  4.0
                                                   1235074      537.0  4.0
                                                   1235350      537.0  5.0
                                                   1235096      537.0  4.0
...                                                               ...  ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492       326.0  NaN
                                                   646477       326.0  NaN
                                                   646448       326.0  NaN
                                                   646728       326.0  NaN
                                                   646452       326.0  NaN

                                                              year BACKUPFLG  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069  2024.0         d
                                                   1235070  2024.0         d
                                                   1235074  2024.0
                                                   1235350  2024.0
                                                   1235096  2024.0
...                                                            ...       ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492      NaN      None
                                                   646477      NaN      None
                                                   646448      NaN      None
                                                   646728      NaN      None
                                                   646452      NaN      None

                                                                   userid  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069            GKS
                                                   1235070            GKS
                                                   1235074     dpdokarnal
                                                   1235350     dpdokarnal
                                                   1235096     dpdokarnal
...                                                                   ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492   sbi-fast-dr_2
                                                   646477   sbi-fast-dr_2
                                                   646448   sbi-fast-dr_2
                                                   646728   sbi-fast-dr_2
                                                   646452   sbi-fast-dr_2

                                                                   timemodifed  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069 2024-04-12 17:40:40
                                                   1235070 2024-04-12 17:44:32
                                                   1235074 2024-04-15 13:38:47
                                                   1235350 2024-05-29 14:45:54
                                                   1235096 2024-04-26 15:02:44
...                                                                        ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492  2024-05-10 17:28:31
                                                   646477  2024-05-07 16:55:30
                                                   646448  2024-05-06 15:57:26
                                                   646728  2024-05-30 12:02:33
                                                   646452  2024-05-06 17:01:36

                                                           impid  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069  None
                                                   1235070  None
                                                   1235074  None
                                                   1235350  None
                                                   1235096  None
...                                                          ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492   None
                                                   646477   None
                                                   646448   None
                                                   646728   None
                                                   646452   None

                                                                                   billno  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069
                                                   1235070
                                                   1235074  "CDA201209220320241527_E.xml"
                                                   1235350     "manual_1209_2024_05_0008"
                                                   1235096  "CDA201209250420241528_E.xml"
...                                                                                   ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492                              87
                                                   646477                              80
                                                   646448                              72
                                                   646728                             130
                                                   646452                              76

                                                              billdate  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069  2024-04-12
                                                   1235070  2024-04-12
                                                   1235074  0000-00-00
                                                   1235350  0000-00-00
                                                   1235096  0000-00-00
...                                                                ...
TECHNICAL AND ECONOMIC CO-OPERATION WITH OTHER ... 646492   2024-05-10
                                                   646477   2024-05-07
                                                   646448   2024-05-06
                                                   646728   2024-05-29
                                                   646452   2024-05-06

                                                            amt_claimed  \
majhd_desc
ACCOUNTS WITH GOVERNMENT OF OTHER COUNTRIES        1235069          0.0
                                                   1235070          0.0
                                                   1235074          0.0
                                                   1235350          0.0

In [63]:
Q1 = df['AMT'].quantile(0.25)
Q3 = df['AMT'].quantile(0.75)
IQR = Q3 - Q1

df_filtered = df[~((df['AMT'] < (Q1 - 1.5 * IQR)) | (df['AMT'] > (Q3 + 1.5 * IQR)))]

## 20. Detecting and Handling Outliers
Use IQR (Interquartile Range) to detect outliers.

Example (Real-world: Removing Outliers from Sales Data):

In [64]:
df_filtered

,row_id,mth,did,ddp,accepted,BUDGET,PROJCODE,COMLIACODE,CTRLID,BATCH,MONTH,CDA,SECTION,VRCLASS,VRNO,RC1,CAT1,CODEHEAD,SIGN,AMT,RESCDA,RESCDASEC,UNITIDIMP,DATE,fortnight,mon,year,BACKUPFLG,userid,timemodifed,impid,billno,billdate,amt_claimed,firm_name,caorsono,caorsodate,ncsTransactionId,ncsOldTransactionId,pfms_transaction,pfms_sanctionId,flag,remarks,majhd,grantno1,majhd_desc,submajhdid,submajhd,submajhd_desc,minhdid,minorhd,minorhd_desc,subhdid,sub_head,sub_head_desc,dethdid,detailhd,detailhd_desc,chid,ch,ch_desc,rc,discount_sales,cuumsum,Month,Month_Name,Year
0,353,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,C,0,1475,+,90509.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100102,0,0.0,0,1,None,2071,22,PENSION AND OTHER RETIREMENT BENEFITS,35,1,Civil,100,117,GOVERNMENT CONTRIBUTION TO DEFINED CONTRIBUTIO...,105,01,Government Contribution ( 117 ),46,N1,NA (DEFENCE & OTHERS) (2071 - 01 - 117 - 01),637,1475,Defence Civilian of Defence Research (2071-01-...,C,81458.1,9.050900e+04,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
3,359,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,0,1605,+,90509.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100108,0,0.0,0,1,None,71,900,CONTRIBUTIONS AND RECOVERIES TOWARDS PENSION A...,12,1,Civil,27,500,RECEIPTS AWAITING TRANSFER TO OTHER MINOR HEADS,26,00,Receipts Awaiting Transfer to Other Minor Head...,909,N1,Receipts Awaiting Transfer to Other Minor Head...,95,1605,Govts Contribution under Tier I (DAD/DEO/CGO/BRO,R,81458.1,2.352720e+06,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
4,361,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,0,1604,+,64650.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100110,0,0.0,0,1,None,71,900,CONTRIBUTIONS AND RECOVERIES TOWARDS PENSION A...,12,1,Civil,27,500,RECEIPTS AWAITING TRANSFER TO OTHER MINOR HEADS,26,00,Receipts Awaiting Transfer to Other Minor Head...,909,N1,Receipts Awaiting Transfer to Other Minor Head...,94,1604,Govt Servent Contribution under Tier I (DAD/DE...,R,58185.0,2.417370e+06,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
5,362,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,0,1560,+,1050.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100111,0,0.0,0,1,None,8011,800,INSURANCE AND PENSION FUNDS,99,0,Insurance and Pensions Funds,259,103,CENTRAL GOVERNMENT EMPLOYEES GROUP INSURANCE S...,177,02,Insurance Fund ( 103 ),185,N1,NA (DEFENCE AND OTHERS) (8011 - 00 - 103 - 02),1033,1560,Insurance Fund-CGEGIS (8011 - 00 - 103 - 2NA),R,945.0,2.418420e+06,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
6,363,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,4,28,281201,1,1001,R,19,1501,+,223000.0,9910000100,0,49928012000066,2024-03-26,198.0,NaN,NaN,None,198,2024-04-01 11:43:30,None,R31092PAB144-01/2024-25,2024-03-12,2581801.0,NA,R31092PAB144-01/2024-25,0,281201104240100112,0,0.0,0,1,None,8009,800,STATE PROVIDENT FUNDS,97,1,Civil,250,101,GENERAL PROVIDENT FUND,167,01,GPF Ordinary Subscriptions and Recoveries ( 101 ),127,N1,NA (DEFENCE & OTHERS) (8009 - 01 - 101 - 01),930,1501,GP Fund Rupee Branch (8009 - 01 - 101 - 1NA),R,200700.0,2.641420e+06,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259100,1856220,5,1391319,2,2024-05-31 20:07:44,0,PCDAO,R24LW10V6672@20240516,0,pm132_310524_1,5,2,22400,1,1712,C,1,10113,+,200000.0,0,0,7200200000CDA2,16-05-2024,195.0,5.0,2024.0,,edppm,2024-05-31 20:07:52,None,"""R24LW10V6672""",,0.0,16-05-2024,,2024-05-31 20:07:24,0,0,0.0,0,1,None,2076,20,DEFENCE SERVICES-ARMY,38,0,Defence Services - Army,110,101,ARMY (INCLUDING RESERVISTS),245,A,Pay and allowances Officers ( 101 ),1151,a,Pay and allowances Officers (2076 - 00 - 101 - A),15604,10113,E M E (2076 - 00 - 101 - Aa.2),C,180000.0,2.611913e+12,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
1259101,1856415,5,1391319,2,2024-05-31 20:07:44,0,PCDAO,R24PSCV116@20240517,0,pm132_310524_1,5,2,22400,1,1735,C,1,10113,+,82794.0,0,0,7200200000CDA2,17-05-2024,195.0,5.0,2024.0,,edppm,2024-05-31 20:07:52,None,"""R24PSCV116""",,0.0,17-05-2024,,2024-05-31 20:07:24,0,0,0.0,0,1,None,2076,20,DEFENCE SERVICES-ARMY,38,0,Defence Services - Army,110,101,ARMY (INCLUDING RESERVISTS),245,A,Pay and allowances Officers ( 101 ),1151,a,Pay and allowances Officers (2076 - 00 - 101 - A),15604,10113,E M E (2076 - 00 - 101 - Aa.2),C,74514.6,2.611914e+12,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
1259104,1856939,5,1391319,2,2024-05-31 20:07:44,0,PCDAO,R24LW08V7331@20240521,0,pm132_310524_1,5,2,22400,1,2320,C,1,10113,+,163663.0,0,0,7200200000CDA2,21-05-2024,195.0,5.0,2024.0,,edppm,2024-05-31 20:07:53,None,"""R24LW08V7331""",,0.0,21-05-2024,,2024-05-31 20:07:25,0,0,0.0,0,1,None,2076,20,DEFENCE SERVICES-ARMY,38,0,Defence Services - Army,110,101,ARMY (INCLUDING RESERVISTS),245,A,Pay and allowances Officers ( 101 ),1151,a,Pay and allowances Officers (2076 - 00 - 101 - A),15604,10113,E M E (2076 - 00 - 101 - Aa.2),C,147296.7,2.611916e+12,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
1259105,1857396,5,1391319,2,2024-05-31 20:07:44,0,PCDAO,R24LW13V7791@20240522,0,pm132_310524_1,5,2,22400,1,2311,C,1,10113,+,123974.0,0,0,7200200000CDA2,22-05-2024,195.0,5.0,2024.0,,edppm,2024-05-31 20:07:54,None,"""R24LW13V7791""",,0.0,22-05-2024,,2024-05-31 20:07:26,0,0,0.0,0,1,None,2076,20,DEFENCE SERVICES-ARMY,38,0,Defence Services - Army,110,101,ARMY (INCLUDING RESERVISTS),245,A,Pay and allowances Officers ( 101 ),1151,a,Pay and allowances Officers (2076 - 00 - 101 - A),15604,10113,E M E (2076 - 00 - 101 - Aa.2),C,111576.6,2.611916e+12,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024
1259106,1858196,5,1391319,2,2024-05-31 20:07:44,0,PCDAO,R24LW13V8154@20240528,0,pm132_310524_1,5,2,22400,1,2792,C,1,10113,+,45773.0,0,0,7200200000CDA2,28-05-2024,195.0,5.0,2024.0,,edppm,2024-05-31 20:07:56,None,"""R24LW13V8154""",,0.0,28-05-2024,,2024-05-31 20:07:28,0,0,0.0,0,1,None,2076,20,DEFENCE SERVICES-ARMY,38,0,Defence Services - Army,110,101,ARMY (INCLUDING RESERVISTS),245,A,Pay and allowances Officers ( 101 ),1151,a,Pay and allowances Officers (2076 - 00 - 101 - A),15604,10113,E M E (2076 - 00 - 101 - Aa.2),C,41195.7,2.611916e+12,<bound method PandasDelegate._add_delegate_acc...,<bound method PandasDelegate._add_delegate_acc...,2024

### Explanation:
1. groupby('column_name'): Groups the DataFrame by the column column_name.
2. size(): Counts the occurrences of each group (similar to COUNT(*) in SQL).
3. grouped[grouped > 1]: Filters the groups where the count is greater than 1 (equivalent to HAVING COUNT(*) > 1).
4. reset_index(name='count'): Converts the result back into a DataFrame, with the count column named 'count'

Finding the duplicate data from df minorhd and minorhd desc

In [76]:
# Group by 'column_name' and count occurrences
grouped = df.groupby(['minorhd','minorhd_desc']).size()

grouped[grouped>1]

result = grouped[grouped > 1]

# To see the result as a DataFrame (similar to SQL output)
result_df = result.reset_index(name='count')

print(result_df)

     minorhd                                       minorhd_desc  count
0          1                       DIRECTION AND ADMINISTRATION   5536
1          1                       Direction and Administration    364
2          3                                           TRAINING    325
3          4                           RESEARCH AND DEVELOPMENT    117
4         37                                            CUSTOMS   1083
..       ...                                                ...    ...
135      800  other expend. SPARSH SERVICES. May also be use...     10
136      911                    Deduct Recoeries of overpayment     40
137      911                  Deduct Recoveries of Over Payment    174
138      911                 Deduct Recoveries of Over payments     72
139      911                  Deduct- Recoveries of Overpayment     15

[140 rows x 3 columns]

In [85]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])

In [ ]:
# Assuming ds1 and ds2 are Pandas Series
ls1 = ds1.tolist()  
ls2 = ds2.tolist() 
# Adding the two lists
r = ls1 + ls2

print(r)

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [79]:
print("Adding two series ")

add=ds1+ds2
add

Adding two series

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [88]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

# 5. Write a Pandas program to convert a dictionary to a Pandas series.

In [89]:
di={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

sr1=pd.Series(di)

In [91]:
type(sr1)
sr1

a    100
b    200
c    300
d    400
e    800
dtype: int64

## # Write a Pandas program to convert the first column of a DataFrame as a Series.

In [92]:

d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)

In [93]:
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [98]:
print("First column converted in series ")
r1=pd.Series(df['col1'])
print(r1)
print(type(r1))

First column converted in series
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

#### 9. Write a Pandas program to convert a given Series to an array.

In [99]:
import pandas as pd
import numpy as np
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])

In [101]:
a1=np.array(s1)
print(type(a1))
a1

<class 'numpy.ndarray'>

array(['100', '200', 'python', '300.12', '400'], dtype=object)

In [103]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
s

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [104]:
s = s.apply(pd.Series).stack().reset_index(drop=True)

In [105]:
s

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

### Write a Pandas program to create a subset of a given series based on value and condition.

In [110]:
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])

s

n=6
n = 6
new_s = s[s <= n]
print(new_s)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64


#### Write a Pandas program to display most frequent value in a given series and replace everything else as ‚ÄòOther‚Äô in the series.

In [111]:
import pandas as pd
import numpy as np
num_series = pd.Series(np.random.randint(1, 5, [15]))

In [112]:
num_series.value_counts()

2    9
4    3
1    2
3    1
Name: count, dtype: int64

In [114]:
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
result

'Other'

In [116]:
# Create a Series from the string
num_series = pd.Series(list('2390238923902390239023'))

# List of element positions
element_pos = [0, 2, 6, 11, 21]

# Use .take() method on num_series to access elements at the positions in element_pos
result = num_series.take(element_pos)

print(result)

0     2
2     9
6     8
11    0
21    3
dtype: object

In [117]:
num_series = pd.Series(list('2390238923902390239023'))

# List of element positions
element_pos = [0, 2, 6, 11, 21]

num_series

0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
13    3
14    9
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: object

In [120]:


# Create a Series from the string
num_series = pd.Series(list('2390238923902390239023'))

# List of element positions
element_pos = [0, 2, 6, 11, 21]

# Create an empty list to store the result
num = []

# Loop through the positions in element_pos
for pos in element_pos:
    num.append(num_series[pos])

print(num)

['2', '9', '8', '0', '3']