In [2]:
import pandas as pd

In [1]:
import numpy as np

# Q-Create data Frame uing dictonary and list

In [6]:
empdata={   'Emp':[44,45,46,80,90],
    'Name':['Rohan','Sohan','Mohan','Geeta','Sita'],
    'dept':['IT','Sales','account','Manfacturing','operation'] ,
    'salary':[99000,88000,77000,66000,55000]     
    }

In [7]:
df1=pd.DataFrame(empdata)

In [ ]:
df1.head()

   Emp   Name          dept  salary
0   44  Rohan            IT   99000
1   45  Sohan         Sales   88000
2   46  Mohan       account   77000
3   80  Geeta  Manfacturing   66000
4   90   Sita     operation   55000

# Save this data into csv file 

    ✅ Best File Format Based on Use Case:
    For data exchange → CSV, JSON
    For Excel users → XLSX
    For Big Data → Parquet, Feather
    For Databases → SQL
    For Archiving → HDF5, Pickle

CSV

In [11]:
df1.to_csv('emp.csv', index=False)

in jason file

In [12]:
df1.to_json('data.json', orient='records')

Excel

In [13]:
df1.to_excel('empeexcel.xlsx')

In [14]:
df1.to_parquet('data.parquet')

### 5️⃣ Feather (Fast Binary Format)

In [15]:
df1.to_feather('empdata.feather')

Saves in a Python-specific binary format (faster but not human-readable).

In [16]:
df1.to_pickle('emp_pickle.pkl')

7️⃣ SQL (Store in Databases)
       1. Saves data directly in MySQL, PostgreSQL, SQLite, etc..

In [17]:
from sqlalchemy import create_engine

In [19]:
pip install mysqlclient

Defaulting to user installation because normal site-packages is not writeable
Collecting mysqlclient
  Downloading mysqlclient-2.2.7-cp312-cp312-win_amd64.whl.metadata (4.8 kB)
Downloading mysqlclient-2.2.7-cp312-cp312-win_amd64.whl (208 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.7
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pymysql
pymysql.install_as_MySQLdb()

engine = create_engine('mysql+pymysql://user:password@localhost:3306/ncs')

With the help of this way we can extract data from diffrent data basde and dump into another data base

In [23]:
from sqlalchemy import create_engine


# Use the correct MySQL driver
engine = create_engine('mysql+pymysql://root:Rajvir%4094@localhost:3306/ncs')

# Save to MySQL
df1.to_sql('emp_test', con=engine, if_exists='replace', index=False)

5

In [24]:
df2=df1

In [25]:
df2.to_sql('emp_test', con=engine, if_exists='append', index=False)

5

# Iterrator

In [28]:
for index , row in df1.iterrows():
    print(index ,":" , row)
    if index==2:
        break

0 : Emp          44
Name      Rohan
dept         IT
salary    99000
Name: 0, dtype: object
1 : Emp          45
Name      Sohan
dept      Sales
salary    88000
Name: 1, dtype: object
2 : Emp            46
Name        Mohan
dept      account
salary      77000
Name: 2, dtype: object

In [29]:

# MySQL credentials
USER = "root"
PASSWORD = "Rajvir@94"
HOST = "localhost"   # Change if MySQL is hosted remotely
PORT = "3306"
DATABASE = "cgda"

# Encode special characters in the password (@ → %40)
PASSWORD = PASSWORD.replace("@", "%40")

# Create MySQL connection string
connection_string = f"mysql+pymysql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"

# Connect to MySQL
engine = create_engine(connection_string)

# Test connection
try:
    with engine.connect() as connection:
        print("✅ Successfully connected to MySQL!")
except Exception as e:
    print(f"❌ Connection failed: {e}")

✅ Successfully connected to MySQL!

In [31]:
import pandas as pd

# Read data from MySQL table into a Pandas DataFrame
df = pd.read_sql("SELECT * FROM master_all", con=engine)

# Display the data
trans_maindf=df

In [32]:
trans_maindf.head(2)

,row_id,mth,did,ddp,accepted,BUDGET,PROJCODE,COMLIACODE,CTRLID,BATCH,...,subhdid,sub_head,sub_head_desc,dethdid,detailhd,detailhd_desc,chid,ch,ch_desc,rc
0,353,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,...,105,01,Government Contribution ( 117 ),46,N1,NA (DEFENCE & OTHERS) (2071 - 01 - 117 - 01),637,1475,Defence Civilian of Defence Research (2071-01-...,C
1,354,4,1279606,28,2024-04-01 11:49:27,0,12000066,2324/28/TULIP/R31092PAB144@20/03/2024,0,1092_010424_1,...,198,00,Default ( 111 ),390,N1,Default (DEFENCE AND OTHERS) (8670 - 00 - 111 ...,1504,2091,Pay And Accounts Officers Electronic Advices (...,R

In [37]:
print(list(df.columns))

AttributeError: 'list' object has no attribute 'columns'